html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout-header {
    width: 100%;
    padding: 0 !important;
    height: var(--layout-header-height) !important;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

  .collapse-btn {
    line-height: var(--layout-header-height);
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }


  .right-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    font-size: 18px;
    color: #5a5e66;
    vertical-align: text-bottom;

    &.hover-effect {
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: rgba(0, 0, 0, 0.025);
      }
    }

    &.theme-switch-wrapper {
      display: flex;
      align-items: center;

      svg {
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  .avatar-container {
    margin-right: 0;
    padding-right: 0;

    .avatar-wrapper {
      margin-top: 10px;
      right: 8px;
      position: relative;

      .user-avatar {
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        border-radius: 50%;
      }

      .user-name{
        position: relative;
        left: 0;
        bottom: 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.el-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.el-submenu .el-menu-item {
  min-width: 0 !important;
}

