html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

$layout_header_height: 40px;
$aside_collapse_width: 60px;

.el-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.el-aside {
  width: 200px !important;
  background-color: #304156;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;

  .el-menu {
    width: 100%;
    height: 100%;
    border-right: 0;

    .menu-info {
      height: $layout_header_height;
    }

    .el-icon-arrow-right:before {
      content: "";
    }
  }
}

.main-collapse {
  width: $aside_collapse_width !important;
}

.el-header {
  width: 100%;
  padding: 0 !important;
  height: $layout_header_height !important;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  .collapse-btn {
    line-height: $layout_header_height;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .right-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    font-size: 18px;
    color: #5a5e66;
    vertical-align: text-bottom;

    &.hover-effect {
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: rgba(0, 0, 0, 0.025);
      }
    }

    &.theme-switch-wrapper {
      display: flex;
      align-items: center;

      svg {
        transition: transform 0.3s;
        
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  .avatar-container {
    margin-right: 0px;
    padding-right: 0px;

    .avatar-wrapper {
      margin-top: 10px;
      right: 8px;
      position: relative;

      .user-avatar {
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        border-radius: 50%;
      }

      .user-name{
        position: relative;
        left: 0px;
        bottom: 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.el-submenu .el-menu-item {
  min-width: 0 !important;
}

