<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwConfigExceptions="false"
>

    <variable
            name="defaultLayout"
            value="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffK} ${level:uppercase=true:padding=-5} ${processid} --- [${configsetting:AppName}] [Thread-${threadid}] [Task-${taskid}] ${logger} - ${message} ${exception:format=ToString}"/>

    <variable
            name="logDir"
            value="${configsetting:LogDir:default=/app/log}"/>
    <variable
            name="logFile"
            value="${logDir}/${configsetting:AppName}"/>
    <variable
            name="logstashAddr"
            value="${configsetting:LogstashAddr:default=127.0.0.1\:4560}"/>

    <targets>
        <target name="Console"
                xsi:type="Console"
                layout="${defaultLayout}"/>
        <target name="File"
                xsi:type="AsyncWrapper"
                queueLimit="10000"
                batchSize="10">
          <target xsi:type="File"
                  layout="${defaultLayout}"
                  keepFileOpen="false"
                  fileName="${logFile}.log"
                  archiveFileName="${logFile}.{#}.log"
                  archiveNumbering="DateAndSequence"
                  archiveAboveSize="10485760"
                  maxArchiveFiles="7"
                  encoding="utf-8"/>
        </target>
        <target name="Stash"
                xsi:type="AsyncWrapper"
                queueLimit="10000"
                batchSize="10">
            <target xsi:type="Network"
                    address="tcp://${var:logstashAddr}"
                    KeepConnection="true"
                    newLine="true"
                    encoding="utf-8"
            >
                <layout xsi:type="JsonLayout">
                    <attribute
                            name="@timestamp"
                            layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffK}"/>
                    <attribute
                            name="service"
                            layout="${configsetting:AppName}"/>
                    <attribute
                            name="level"
                            layout="${level}"/>
                    <attribute
                            name="pid"
                            layout="${processid}"/>
                    <attribute
                            name="thread"
                            layout="${threadid}"/>
                    <attribute
                            name="class"
                            layout="${logger}"/>
                    <attribute
                            name="message"
                            layout="${message}"/>
                    <attribute
                            name="exception"
                            layout="${exception:format=ToString}"/>
                </layout>
            </target>
        </target>
    </targets>

    <rules>
        <logger name="*" ruleName="Console" writeTo="Console" minlevel="${configsetting:Logging.LogLevel.Default}"/>
        <logger name="*" ruleName="File" writeTo="File" minlevel="${configsetting:Logging.LogLevel.Default}">
            <filters>
                <when condition="contains('${configsetting:item=LogRules}', 'File')" action="Log"/>
                <when condition="true" action="Ignore"/>
            </filters>
        </logger>
        <logger name="*" ruleName="Stash" writeTo="Stash" minlevel="${configsetting:Logging.LogLevel.Default}">
            <filters>
                <when condition="contains('${configsetting:item=LogRules}', 'Stash')" action="Log"/>
                <when condition="true" action="Ignore"/>
            </filters>
        </logger>
    </rules>

</nlog>